@model FarmaciaBelen.Models.PERMISOS

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>PERMISOS</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PERMISOS_PUEDEACCEDER)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PERMISOS_PUEDEACCEDER)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MODULO.MODULO_NOMBRE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MODULO.MODULO_NOMBRE)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ROL.ROL_NOMBRE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ROL.ROL_NOMBRE)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.PERMISOS_ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
